input[readonly] {
    background-color:white !important;
}

.space-down {
    margin-bottom: 0.5em;
}

.hide-button {
    display:none !important;
    width: 1px;
}

.glory {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.2em;
}

label {
    font-size: 16px;
    color: orange;
}

.modal-header, h4, .close {
    background: rgba(255,146,10,1);
    background: -moz-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,146,10,1)), color-stop(15%, rgba(255,146,10,1)), color-stop(55%, rgba(255,175,75,1)), color-stop(84%, rgba(255,146,10,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: linear-gradient(135deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#ff920a', GradientType=1 );
    color:white ;
    border-radius: 5px 5px 0px 0px;
    font-size: 30px;
}

.background { 
    background-color: #F69D1F;
    height: 100%; 
    /* Center and scale the image nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* The image used (with support for safari, mozilla, opera)
    background: url('../gauchada/imgs/mate2.jpg')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

th {
    text-align: center;
}

h3 {
    color: orange;
}

#sm {
    font-size: 20px;
    color: white;
}

.center-block {
    float: none;
}

.btn-success {
    border: none;
    background: rgba(255,146,10,1);
    background: -moz-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,146,10,1)), color-stop(15%, rgba(255,146,10,1)), color-stop(55%, rgba(255,175,75,1)), color-stop(84%, rgba(255,146,10,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    background: linear-gradient(135deg, rgba(255,146,10,1) 0%, rgba(255,146,10,1) 15%, rgba(255,175,75,1) 55%, rgba(255,146,10,1) 84%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#ff920a', GradientType=1 );
    color:white ;
}